@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
  --primary-color: #c72727;
  --light-color: #f3f3f3;
  --dark-color: #333;
  --link-color: #333;
  --sports-color: #f99500;
  --arts-color: #a66bbe;
  --tech-color: #009cff;
  --science-color: #3bd142;
  --food-color: #d1483b;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--light-color);
}

.topic {
  color: #fff;
  font-size: 9px;
  text-transform: uppercase;
  padding: 4px 8px;
  border-radius: 10px;
}

.topic-sports {
  background-color: var(--sports-color);
}
.topic-arts {
  background-color: var(--arts-color);
}
.topic-tech {
  background-color: var(--tech-color);
}
.topic-food {
  background-color: var(--food-color);
}
.topic-science {
  background-color: var(--science-color);
}


/********************************* Articles **************************/
article img {
  width: 100%;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.articles {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

@media (min-width: 600px) {
  .articles {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.articles > article {
  background: #fff;
  padding: 16px;
}

/********************************* Showcase **************************/
.showcase {
  color: #fff;
  padding: 32px;
  height: 40vh;
  background: url("./images/robot.jpg") center/cover;
}

@media (min-width: 600px) {
  .showcase p {
    width: 50%;
  }
}

.btn {
  border: none;
  color: #fff;
  padding: 8px 12px;
  background-color: var(--primary-color);
}

.btn:hover {
  opacity: 0.9;
}